<!DOCTYPE html>
<html lang="en" class="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard | <%= title %></title>

    <link rel="stylesheet" href="/css/output.css">
    
    <!-- Font Awesome Kit -->
    <script src="https://kit.fontawesome.com/81d16ff045.js" crossorigin="anonymous"></script>

    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>

</head>
<body class="bg-gray-50 dark:bg-gray-900 transition-all">
    
