<!DOCTYPE html>
<html lang="en" class="scroll-smooth dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | <%= title %>
    </title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <!-- <link rel="stylesheet" href="/css/input.css"> -->

    <!-- Font Awesome Kit -->
    <script src="https://kit.fontawesome.com/81d16ff045.js" crossorigin="anonymous"></script>
</head>

<body>